* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-size: 62.5%;
}

.app {
    margin: 0%;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.app h1 {
    /*height: 7%;*/
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-transform:uppercase;
    font-size: 4em; 
    background: yellow;
}

.tiles {
  margin: 0%;
  height: 90%;
  width: 100%;
  background: blue;
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6{
    background: gray;
    height: 25%;
    width: 40%;  
    margin: 5%; 
    margin-bottom: 0%;
}

.tile1, .tile3, .tile5 {
    float: left;
    margin-right: 2.5%;
}

.tile2, .tile4, .tile6 {
    float: right;
    margin-left: 2.5%;
}

.tiles p {
  font-size: 5em;
}
