html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#page1 {
    height: 100%;
}

.title{
    position: relative;
    text-align: center;
    height: 10%;
}

.tiles {
    padding: 0 !important;
    background: powderblue;
    height: 90%;
}

.row {
    height: 33%;
}

.tile {
    background: plum;
    height: 100%;
}

.tile p {
    height: 100%;
    margin: 10px;
    font-size: 3em;
    text-align: center;
    background: gold;
}